body {
  font-family: 'Grape Nuts', cursive;
  font-family: 'Macondo', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Zen Loop', cursive;
  color: #060800;
  background-color: rgb(250, 250, 20);
  display: flex;
  align-items: center;
  font-size: 25px;
  background-image: url('https://img.maximummedia.ie/joe_ie/eyJkYXRhIjoie1widXJsXCI6XCJodHRwOlxcXC9cXFwvbWVkaWEtam9lLm1heGltdW1tZWRpYS5pZS5zMy5hbWF6b25hd3MuY29tXFxcL3dwLWNvbnRlbnRcXFwvdXBsb2Fkc1xcXC8yMDE4XFxcLzA3XFxcLzA5MTEwMTQ0XFxcL2J1cy01LmpwZ1wiLFwid2lkdGhcIjo0NDMsXCJoZWlnaHRcIjoyNDgsXCJkZWZhdWx0XCI6XCJodHRwczpcXFwvXFxcL3d3dy5qb2UuaWVcXFwvYXNzZXRzXFxcL2ltYWdlc1xcXC9qb2VcXFwvbm8taW1hZ2UucG5nP2lkPTI2NGEyZGJlMzcwZjJjNjc1ZmNkXCIsXCJvcHRpb25zXCI6W119IiwiaGFzaCI6ImIzZTJjYTBlYTM0ZDc3YmM2M2ZmZGFmMzIxZDBmOWRhZTlkNzQ2ODcifQ==/pics-new-look-buses-will-soon-be-rolled-out-for-a-host-of-routes-in-dublin-here-s-what-they-look.jpg');
}

i {
  font-size: 40px;
  color: beige;
  text-shadow: 2px 2px 20px whitesmoke;
}

p {
  font-size: 15px;
  padding-right: 15px;
  color: rgb(247, 247, 6);
}

div {
  border-radius: 3px;
}

#main {
  display: flex;
  align-items: start;
}

.title {
  font-weight: 600;
}

.editable {
  user-select: none;
  outline: none;
  margin: 7px;
  padding: 10px;
  cursor: pointer !important;
  display: flex;
  justify-content: space-between;

}

.editing {
  background: white;
  color: #172b4d !important;
  box-shadow: inset 0px 0px 0px 2px #b3f60b;
}

.editing:hover {
  background: white !important;
}

.card {
  background: white;
  border-bottom: 1px solid #aaa;
  align-items: center;
  text-align: start;
}

.list {
  /*   padding: 7px; */
  min-width: 280px;
  margin: 10px 5px;
  position: relative;
  background: #2a2a98;
  text-align: center;
  padding-top: 15px;
}

.add-list {
  min-width: 280px;
  margin: 10px 5px;
  position: relative;
  background: rgba(0, 0, 0, .12);
  color: hsla(0, 0%, 100%, .8);
  text-align: center;
}

.ghost {
  opacity: .1;
  color: rgb(251, 244, 244);
  background-color: rgb(247, 239, 239);
}

.add-card {
  width: calc(100% - 35px);
  display: inline-block;
  padding: 10px;
  margin-top: 0px;
  color: rgb(252, 247, 247);
  text-decoration: none;
  /*   border-bottom: 1px solid #dfe1e6; */
}

.add-card:hover {
  background-color: rgba(238, 255, 5, 0.897);
}

.del {
  font-weight: 600;
  color: rgb(7, 7, 7);
}